body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06070e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.todo-list {
  margin: 10px 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

.todo-body {
  /* background-color: red; */
  border-radius: 50px;
  background-color: #29524a;
  color: #94a187;
  padding: 40px;
}

button {
  background-color: transparent;
  color: #94a187;
  border: 1px solid #c5afa0;
  border-radius: 5px;
}

input {
  border: none;
  font-size: 15px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  transition: background-color 0.5s linear;
}

.btn.green:hover {
  background-color: green;
  cursor: pointer;
}

.btn.red:hover {
  background-color: red;
  cursor: pointer;
}

.btn.edit:hover {
  background-color: seagreen;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 5px;
}
